body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #45a049; /* Set background color to white */
  padding: 15px 20px; /* Increase height of the navbar */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box-shadow */
}

.headingContainer {
  display: flex;
  align-items: center;
}

.brandHeading {
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* Brand color */
  margin-right: 20px;
}

.navbar {
  display: flex;
}

.navul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navul li {
  margin-right: 20px;
  padding: 10px 10px;
  border-radius: 25px;
}

.navul li:hover {
  background-color: #166b1a;
}

.navul li a {
  text-decoration: none;
  color: #fff; /* Text color */
  font-weight: bold;
  font-size: 16px;
}

.imagesvg {
  cursor: pointer;
}

/* jump section */
#jump-section {
  max-width: 800px; /* Set your desired max-width */
  margin: 50px auto; /* Center the section on the page */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box; /* Include padding in the max-width */
  background-color: #45a049;
}

#right-section img {
  width: 400px;
  height: 60%;
  flex: 1;
}

#left-section {
  width: 50%;
  margin-left: 19px;
}

#left-section {
  flex: 1;
}

#plantLyf-information {
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

#plantLyf-information h1 {
  margin: 0;
  font-size: 3em; /* Adjust the font size as needed */
}

#main-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #28802c;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

button:hover {
  background-color: #166b1a;
}

/* Added style to display buttons side by side */
#main-buttons button {
  display: inline-block;
  padding: 20px 30px;
  border-radius: 25px;
  font-weight: bold;
  color: #fff;
}
